.container{

 height: 100vh;
 
}

.box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 1000px; 
}

.icons{
  display: flex;
}
/* .github{
  font-size:100px;
  
}
.linkedin{
  font-size:100px;
}